.c-articles {
	width: 100%;
	display: flex;
  flex-wrap: wrap;
	justify-content: space-around;
}
.c-article_wrap {
	width: 30%;
	margin-right: 5%;
	margin-bottom: 5%;
	&:nth-child(3n) {
		margin-right: 0;
	}
}

.c-article_text {
	text-align: left;
}